body{
 background-color: oldlace;
}
.form-group{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;

}
.form-inline{
  margin-top: 10px;
  margin-bottom: 10px;
}
label{
  font-size: 25px;
  margin-right: 7px;
}
.container-fluid{
  margin-top: 50px;
  width: 90%;
}
.table-responsive{
  margin-top: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  .form-container {
    max-width: 300px;
    background-color: white;
  }
  
  

  


  #dodaj_utakmicu{
   display: none; 
  }
  #izmeni{
    display:none;
  }
  .container{
    margin-top:20px;
  }
  h1 { 
    color:navy;
    font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline 1px ;
  }
  th {
    cursor: pointer;
  }
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  width: 40%; 
}
/* Chrome 29+ */

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .selector { property:value; } 
}